.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  width: 100%;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: #cccccc;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  border: 1px solid #bdbdbd;
  padding: 12px 25px;
  min-width: 20rem;
  max-width: 26rem;
  width: 100%;
}

.modalContainer {
  padding: 0 2rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.input {
  border: 1px solid;
  padding: 0.5rem 1rem;
}

.productGroupLabel {
  background-color: #eeeeee;
  padding: 5px 10px;
}

.scrollList {
  height: 100%;
  position: fixed;
  width: 90vw;
  overflow-y: auto;
  margin-top: 2rem;
}

.list {
  padding-left: 10px;
  list-style: none;
}

.listItem {
  margin: 0.5rem 0;
}

@media (min-width: 500px) {
  .scrollList {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
